<body class="container">
    <div class="project">
        <div class="projectCreate ">
            <h2>创建新项目</h2>
            <hr>
            <%= render "form" %>
        </div>
    </div>
</body>

<style>
    body {
        background-color: rgb(244, 247, 237);
    }
    .project {
        margin: 0 auto;
        width: 1000px;
        height: 600px;
        background-color: #fff;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(219, 223, 214);

    }
    .projectCreate {
        width: 380px;
        background-color: #fff;
        margin: 45px;
    }
    .projectCreate h2{
      font-size: 23px;
    }


</style>
