<body class="container">
    <div class="project">
        <h2><%= @team.title %></h2>
        <a href="/teams/new">添加新任务</a>
            <%= link_to("添加新任务", new_team_project_path(@team), class: "btn btn-success pull-right") %>
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>任务</td>
                </tr>
            </thead>
            <tbody>
                <% @projects.each do |project| %>
                <tr>
                    <td>#</td>
                    <td><%= link_to(project.title, team_project_path(@team)) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</body>

<style>
body {
    background-color: rgb(244, 247, 237);
}
.project {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(219, 223, 214);

}
</style>
