<div class="comments_wrapper clearfix">
        <div class="pull-left">
          <p><small><%= comment.user.email %> <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> </small></p>
            <p class="lead"><%= comment.body %></p>

        </div>

        <!-- <div class="btn btn-group pull-right">
            <% if comment.user == current_user %>
                <%#= link_to 'Delete', "#", method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div> -->
    </div>
