<footer class="container" style="margin-top: 100px;">
    <p class="text-center">
        <br>Design by 隋璐
        <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>彩程设计</a>
    </p>
</footer>
